@media (max-width: 768px) {
  .share {
    padding: 70px 20px 70px 20px;
  }

  .share__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .share__title {
    width: 185px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
  }

  .share__all {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .share {
    padding-top: 120px;
    padding-bottom: 180px;
  }

  .share__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .share__title {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }

  .share__all {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: #697586;
  }
}

.share__title {
  margin-top: 0;
  margin-bottom: 0;
}

.share__hash {
  color: #f5a3b7;
}

.share__followButton {
  align-items: center;
  display: flex;
  padding: 10px;
  color: #f5a3b7;
  border-radius: 4px;
  margin: 20px auto;
  justify-content: center;
  border-radius: 4px;
  background-color: #f5a3b7;
  color: white;
  width: 240px;
  box-sizing: border-box;
}
