.product-full {
  background-color: var(--color-white);
  padding: 24px;

  display: flex;
  flex-direction: column;
}

.product-full__image {
  object-fit: contain;
width: 495px;
height: 495px;
}
.product-small_image {
box-sizing: border-box;
width: 83px;
height: 83px;



}
.product-small_images {
display: flex;
justify-content: space-between;

}


.product-full__content {
  padding: 8px 12px;
}

.product-full__title {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 500;

  margin-top: 0;
  margin-bottom: 8px;
}

.product-full__description {
  font-size: 0.875rem;
  line-height: 1.375rem;

  margin-bottom: 8px;
}

.product-full__price {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;

  margin-bottom: 22px;
}

.product-full__cta {
  border: 1px solid var(--color-pink);
  border-radius: 4px;
  background-color: var(--color-white);
  color: var(--color-white);
  background-color: var(--color-pink);
  padding: 10px 90px;
}

@media screen and (min-width: 768px) {
  .product-full {
    flex-direction: row;
  }
}
